.leaflet-container {
  height: 100vh;
  width: 100%;
}

.hospital-icon {
  padding: 2px;
  background-color: #ddd;
  display: flex;
}

.status {
  width: 10px;
  height: 10px;
  margin: 2px;
}

.status-0 {
  background-color: #aaa;
}

.status-1 {
  background-color: #c66a4b;
}

.status-2 {
  background-color: #e6b548;
}

.status-3 {
  background-color: #70a885;
}

.hospital-name {
  text-decoration: underline;
}
.care-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px dashed #aaa;
}
.care-container.noborder {
  border-bottom: none;
}

.expand-status {
  text-align: right;
  width: 100%;
  padding: 3px;
}

.care-name {
  margin-bottom: 2px;
}

.info {
  background-color: #eee;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.info-container {
  display: flex;
  align-items: baseline;
}

.info-container > .status {
  margin-right: 5px;
}
